body {
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background-image: url(./public/sky.jpg);
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

a {
color: white;
margin-bottom: 30px;
}

.imageSelection {

  max-height: 100px;
}

.imageSelection > img {
  max-height: 100px;
  margin: 1rem;
}

.stack-small > * + * {
  margin-top: 1rem;
}

.stack-medium > * + * {
  margin-top: 2rem;
}

.stack-large > * + * {
  margin-top: 4rem;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.card{
  min-width: 200px;
  min-height: 200px;
  border: 1px black solid;
}

.card>img{
  max-width: 200px;
}